language = "java10"
run = "echo [init] \"Pulling Latest Code\" && git pull && chmod +x ./gradlew && echo \"[init] Building\" && ./gradlew build && echo \"[init] Done. Running.\" && ./gradlew --console=plain -q run"
